<div class="jumbotron">
  <h1>YAKKING</h1>
  <p>Create partys to talk to your friends</p>
  <%if current_user%>
  <%end%>
  <p>Login or sign up to create a chat party and talk to your friends!</p>
</div>

